<!--chat.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href=".\css\styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

<div class="chat-container">
    <div class="chat-sidebar">
        <div class="nav-list-chat">
            <button id="homeButton" class="material-symbols-outlined">home</button>
            <span class="username-side"> <%= user.username %></span>
        </div>
        <!-- Aquí estarían los items de cada chat -->
        <div class="nav-list-chat">
            <% contacts.forEach(contact => { %>
                <div class="chat-item" data-id="<%= contact.id %>" data-receiver-id="<%= contact.contact_id %>"><%= contact.username %></div>
              <% }); %>
        </div>
       
        <div class="nav-list-logout">
            <button id="logoutButton" class="material-symbols-outlined">logout</button>
        </div>
        <div class="contact-icon">
            <form id="addContactForm" style="display: none;">
                <input type="text" id="newContactUsername" placeholder="Usuario del contacto">
                <button type="submit">Añadir</button>
              </form>
            <button id="contactButton" class="material-symbols-outlined">add_circle</button>
        </div>
    </div>

    <div class="chat-main">
        <div class="chat-header" id="contactName">
           <p id="contactNameText"></p> 
        </div>

        <div class="chat-messages" id="chat-messages">
            <!-- Aquí se mostrarán los mensajes del chat -->
        </div>

        <div class="input-container">
            <form id="chat-form">
                <input type="text" id="message-input" placeholder="Escribe tu mensaje...">
                <span id="icon-send" class="material-symbols-outlined">send</span>
            </form>
        </div>
    </div>
</div>

<script>
    const username = '<%= user.username %>'; // Obtiene el nombre de usuario desde el servidor
    const userId = '<%= user.id %>';
    
</script>


<script src="/socket.io/socket.io.js" charset="UTF-8"></script>
<script src="./js/socketClient.js"></script> 
<script src="./js/chatClient.js"></script>

<script>
    
    socket.emit('registerUser', { username: username, userId: userId }); // Envía el nombre de usuario al servidor
  </script>
  
</body>
</html>
